openapi: 3.0.0
info:
  title: Smile API
  version: 1.14.0
  description: 'The Smile API provides employment and income data from a single API. '
  contact:
    name: Smile Technology Pte Ltd
    url: https://www.getsmileapi.com
    email: info@getsmileapi.com
  termsOfService: https://www.getsmileapi.com/terms-and-conditions
servers:
  - url: https://sandbox.smileapi.io/v1
    description: Sandbox
  - url: https://open.smileapi.io/v1
    description: Production
paths:
  /providers:
    get:
      summary: List Providers
      tags:
        - Providers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderListResponse'
              examples:
                Example:
                  value:
                    code: OK
                    message: Success
                    requestId: 5b79399a-6852-4234-bb0e-ad472648282d
                    data:
                      nextCursor: '1259723474'
                      items:
                        - id: upwork
                          name: Upwork
                          longName: Upwork Global Inc.
                          logoUrl: >-
                            https://cdn.smileapi.io/image/provider-logo/v20210813064500/upwork.png
                          type: GIG
                          typeLabel: Gig Platform
                          subType: SERVICES
                          subTypeLabel: Professional Services
                          active: true
                          enabled: true
                          mfa: true
                          accountConnection: true
                          supported:
                            - IDENTITIES
                        - id: freelancer
                          name: Freelancer
                          longName: Freelancer Technology Pty Limited
                          logoUrl: >-
                            https://cdn.smileapi.io/image/provider-logo/v20210813064500/freelancer.png
                          type: GIG
                          typeLabel: Gig Platform
                          subType: SERVICES
                          subTypeLabel: Professional Services
                          active: true
                          enabled: true
                          mfa: true
                          accountConnection: true
                          supported:
                            - IDENTITIES
                        - id: grab
                          name: Grab
                          longName: Grab Holdings Inc
                          logoUrl: >-
                            https://cdn.smileapi.io/image/provider-logo/v20210813064500/freelancer.png
                          type: GIG
                          typeLabel: Gig Platform
                          subType: TRANSPORTATION
                          subTypeLabel: Transport and Delivery
                          active: true
                          enabled: true
                          mfa: true
                          accountConnection: true
                          supported:
                            - IDENTITIES
        '400':
          $ref: '#/components/responses/Standard-Errors'
        '401':
          $ref: '#/components/responses/Standard-Errors'
        '403':
          $ref: '#/components/responses/Standard-Errors'
        '404':
          $ref: '#/components/responses/Standard-Errors'
        '415':
          $ref: '#/components/responses/Standard-Errors'
        '429':
          $ref: '#/components/responses/Standard-Errors'
        '500':
          $ref: '#/components/responses/Standard-Errors'
        '501':
          $ref: '#/components/responses/Standard-Errors'
        '503':
          $ref: '#/components/responses/Standard-Errors'
        '504':
          $ref: '#/components/responses/Standard-Errors'
      operationId: list-providers
      description: Get a list of employment data providers from the Smile Network.
      parameters:
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/size'
        - schema:
            type: string
          in: query
          name: type
          description: Filter results to certain type of providers.
        - schema:
            type: string
          in: query
          name: subType
          description: Filter results to certain subset of a certain subtype of providers
        - schema:
            type: boolean
          in: query
          name: active
          description: Filter results to active or inactive providers.
        - schema:
            type: boolean
          in: query
          name: enabled
          description: Filter results to enabled or disabled providers.
        - schema:
            type: boolean
          in: query
          name: accountConnection
          description: Filter results to providers with real-time account connections.
        - schema:
            type: string
          in: query
          name: name
          description: Filter results by provider name
        - schema:
            type: array
            items:
              type: string
          in: query
          name: ids
          description: >-
            Filter results by provider ids, each id will be matched exactly,
            please following this format 'ids=id1,id2,id3'.
        - schema:
            type: array
            maxItems: 10
            items:
              type: string
          in: query
          name: topIds
          description: >-
            Show these providers on the top of the list, please following this
            format 'ids=id1,id2,id3'.
    parameters: []
  /providers/{id}:
    parameters:
      - $ref: '#/components/parameters/id'
    get:
      summary: Get Provider
      tags:
        - Providers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderGetResponse'
              examples:
                Example:
                  value:
                    code: OK
                    message: Success
                    requestId: 5b79399a-6852-4234-bb0e-ad472648282d
                    data:
                      id: upwork
                      name: Upwork
                      longName: Upwork Global Inc.
                      logoUrl: >-
                        https://cdn.smileapi.io/image/provider-logo/v20210813064500/upwork.png
                      type: GIG
                      typeLabel: Gig Platform
                      subType: SERVICES
                      subTypeLabel: Professional Services
                      active: true
                      enabled: true
                      mfa: true
                      accountConnection: true
                      supported:
                        - IDENTITIES
                        - TRANSACTIONS
        '400':
          $ref: '#/components/responses/Standard-Errors'
        '401':
          $ref: '#/components/responses/Standard-Errors'
        '403':
          $ref: '#/components/responses/Standard-Errors'
        '404':
          $ref: '#/components/responses/Standard-Errors'
        '415':
          $ref: '#/components/responses/Standard-Errors'
        '429':
          $ref: '#/components/responses/Standard-Errors'
        '500':
          $ref: '#/components/responses/Standard-Errors'
        '501':
          $ref: '#/components/responses/Standard-Errors'
        '503':
          $ref: '#/components/responses/Standard-Errors'
        '504':
          $ref: '#/components/responses/Standard-Errors'
      operationId: get-provider
      description: Get a data provider from the Smile Network.
      parameters: []
  /users:
    get:
      summary: List Users
      tags:
        - Users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserListResponse'
              examples:
                Example:
                  value:
                    code: OK
                    message: Success
                    requestId: 5b79399a-6852-4234-bb0e-ad472648282d
                    data:
                      nextCursor: '1259723474'
                      items:
                        - id: tenant-17bbf36498de4d68a0d4f86c7b62f69f
                          externalMetadata:
                            property1: string
                            property2: string
                          createdAt: '2021-04-14T09:30:24Z'
                          providers:
                            - upwork
                        - id: tenant-17bbf36498de4d68a0d4f86c7b62f69f
                          externalMetadata:
                            property1: string
                            property2: string
                          createdAt: '2021-04-14T09:30:24Z'
                          providers:
                            - freelancer
                        - id: tenant-17bbf36498de4d68a0d4f86c7b62f69f
                          externalMetadata:
                            property1: string
                            property2: string
                          createdAt: '2021-04-14T09:30:24Z'
                          providers:
                            - grab
                        - id: tenant-17bbf36498de4d68a0d4f86c7b62f69f
                          externalMetadata:
                            key1: value
                            key2: value
                          createdAt: '2021-04-14T09:30:24Z'
                          providers:
                            - upwork
                            - freelancer
                            - grab
        '400':
          $ref: '#/components/responses/Standard-Errors'
        '401':
          $ref: '#/components/responses/Standard-Errors'
        '403':
          $ref: '#/components/responses/Standard-Errors'
        '404':
          $ref: '#/components/responses/Standard-Errors'
        '415':
          $ref: '#/components/responses/Standard-Errors'
        '429':
          $ref: '#/components/responses/Standard-Errors'
        '500':
          $ref: '#/components/responses/Standard-Errors'
        '501':
          $ref: '#/components/responses/Standard-Errors'
        '503':
          $ref: '#/components/responses/Standard-Errors'
        '504':
          $ref: '#/components/responses/Standard-Errors'
      operationId: list-users
      description: List users from the Smile Network.
      parameters:
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/cursor'
        - schema:
            type: string
            format: date
            example: '2021-04-01'
          in: query
          name: startDate
          description: Filter by user creation date, start of date range (YYYY-MM-DD)
        - schema:
            type: string
            format: date
            example: '2021-04-21'
          in: query
          name: endDate
          description: Filter by user creation date, end of date range (YYYY-MM-DD)
    parameters: []
    post:
      summary: Create User
      operationId: create-user
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserPostRequest'
        description: ''
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPostResponse'
              examples: {}
        '400':
          $ref: '#/components/responses/Standard-Errors'
        '401':
          $ref: '#/components/responses/Standard-Errors'
        '403':
          $ref: '#/components/responses/Standard-Errors'
        '404':
          $ref: '#/components/responses/Standard-Errors'
        '429':
          $ref: '#/components/responses/Standard-Errors'
        '500':
          $ref: '#/components/responses/Standard-Errors'
        '501':
          $ref: '#/components/responses/Standard-Errors'
        '503':
          $ref: '#/components/responses/Standard-Errors'
        '504':
          $ref: '#/components/responses/Standard-Errors'
        default:
          $ref: '#/components/responses/Standard-Errors'
      description: Create a user in the Smile Network.
      tags:
        - Users
  /users/{id}:
    parameters:
      - $ref: '#/components/parameters/id'
    get:
      summary: Get User
      tags:
        - Users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGetResponse'
              examples:
                Example:
                  value:
                    code: OK
                    message: Success
                    requestId: 5b79399a-6852-4234-bb0e-ad472648282d
                    data:
                      id: tenant-17bbf36498de4d68a0d4f86c7b62f69f
                      externalMetadata:
                        property1: string
                        property2: string
                      createdAt: '2021-04-14T09:30:24Z'
                      providers:
                        - upwork
        '400':
          $ref: '#/components/responses/Standard-Errors'
        '401':
          $ref: '#/components/responses/Standard-Errors'
        '403':
          $ref: '#/components/responses/Standard-Errors'
        '404':
          $ref: '#/components/responses/Standard-Errors'
        '415':
          $ref: '#/components/responses/Standard-Errors'
        '429':
          $ref: '#/components/responses/Standard-Errors'
        '500':
          $ref: '#/components/responses/Standard-Errors'
        '501':
          $ref: '#/components/responses/Standard-Errors'
        '503':
          $ref: '#/components/responses/Standard-Errors'
        '504':
          $ref: '#/components/responses/Standard-Errors'
      operationId: get-user
      description: Get a particular user profile.
      parameters: []
  /tokens:
    post:
      summary: Refresh Token
      operationId: create-token
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenPostResponse'
              examples:
                Example:
                  value:
                    code: OK
                    message: Success
                    requestId: 5b79399a-6852-4234-bb0e-ad472648282d
                    data:
                      expiresAt: '2021-04-14T09:30:24Z'
                      mode: SANDBOX
                      accessToken: string
        '400':
          $ref: '#/components/responses/Standard-Errors'
        '401':
          $ref: '#/components/responses/Standard-Errors'
        '403':
          $ref: '#/components/responses/Standard-Errors'
        '404':
          $ref: '#/components/responses/Standard-Errors'
        '415':
          $ref: '#/components/responses/Standard-Errors'
        '429':
          $ref: '#/components/responses/Standard-Errors'
        '500':
          $ref: '#/components/responses/Standard-Errors'
        '501':
          $ref: '#/components/responses/Standard-Errors'
        '503':
          $ref: '#/components/responses/Standard-Errors'
        '504':
          $ref: '#/components/responses/Standard-Errors'
      description: Refresh a token for a user
      tags:
        - Tokens
      parameters:
        - schema:
            type: string
            minLength: 1
            maxLength: 200
          in: query
          name: userId
          required: true
          description: the user whom to create token for.
  /accounts:
    get:
      summary: List Accounts
      tags:
        - Accounts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountListResponse'
              examples:
                Example:
                  value:
                    code: OK
                    message: Success
                    requestId: 5b79399a-6852-4234-bb0e-ad472648282d
                    data:
                      nextCursor: '1259723474'
                      items:
                        - id: a-17bbf36498de4d68a0d4f86c7b62f69f
                          createdAt: '2021-04-14T09:30:24Z'
                          providerId: grab
                          userId: tenant-5c1a2e8678e3494eba303ad1afa54ee8
                          connectionStatus: ERROR
                          connection:
                            status: ERROR
                            errorCode: ACCOUNT_DISABLED
                            errorMessage: Account is disabled
                            updatedAt: '2021-04-14T09:30:24Z'
                          monitorStatus: UNSUPPORTED
                          monitor:
                            status: UNSUPPORTED
                            updatedAt: null
                        - id: a-7fa7e260ad724f39b61427f6ac2edc69
                          createdAt: '2021-04-15T09:30:24Z'
                          providerId: freelancer
                          userId: tenant-5c1a2e8678e3494eba303ad1afa54ee8
                          connectionStatus: CONNECTED
                          connection:
                            status: CONNECTED
                            errorCode: null
                            errorMessage: null
                            updatedAt: '2021-04-18T09:30:24Z'
                          monitorStatus: ACTIVE
                          monitor:
                            stust: ACTIVE
                            updatedAt: '2023-03-14T09:30:24Z'
                        - id: a-79da958ecb2143659747deaebca1cfe0
                          createdAt: '2021-04-17T09:30:24Z'
                          providerId: upwork
                          userId: tenant-5c1a2e8678e3494eba303ad1afa54ee8
                          connectionStatus: CONNECTED
                          connection:
                            status: CONNECTED
                            errorCode: null
                            errorMessage: null
                            updatedAt: '2021-04-19T09:30:24Z'
                          monitorStatus: ACTIVE
                          monitor:
                            status: ACTIVE
                            updatedAt: null
        '400':
          $ref: '#/components/responses/Standard-Errors'
        '401':
          $ref: '#/components/responses/Standard-Errors'
        '403':
          $ref: '#/components/responses/Standard-Errors'
        '404':
          $ref: '#/components/responses/Standard-Errors'
        '415':
          $ref: '#/components/responses/Standard-Errors'
        '429':
          $ref: '#/components/responses/Standard-Errors'
        '500':
          $ref: '#/components/responses/Standard-Errors'
        '501':
          $ref: '#/components/responses/Standard-Errors'
        '503':
          $ref: '#/components/responses/Standard-Errors'
        '504':
          $ref: '#/components/responses/Standard-Errors'
      operationId: list-accounts
      description: Get a list of user accounts.
      parameters:
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/userId'
        - schema:
            type: string
            format: date
            example: '2021-04-01'
          in: query
          name: startDate
          description: Filter by account linking date, start of date range (YYYY-MM-DD)
        - schema:
            type: string
            format: date
            example: '2021-04-21'
          in: query
          name: endDate
          description: Filter by account linking date, end of date range (YYYY-MM-DD)
    parameters: []
  /accounts/{id}/payload:
    parameters:
      - $ref: '#/components/parameters/id'
    get:
      summary: Get Account Payload
      tags:
        - Accounts
      operationId: get-account-payload
      description: Get a user's particular account payload.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPayloadGetResponse'
        '400':
          $ref: '#/components/responses/Standard-Errors'
        '401':
          $ref: '#/components/responses/Standard-Errors'
        '403':
          $ref: '#/components/responses/Standard-Errors'
        '404':
          $ref: '#/components/responses/Standard-Errors'
        '415':
          $ref: '#/components/responses/Standard-Errors'
        '429':
          $ref: '#/components/responses/Standard-Errors'
        '500':
          $ref: '#/components/responses/Standard-Errors'
        '501':
          $ref: '#/components/responses/Standard-Errors'
        '503':
          $ref: '#/components/responses/Standard-Errors'
        '504':
          $ref: '#/components/responses/Standard-Errors'
      parameters: []
  /accounts/{id}/exports/generate:
    parameters:
      - $ref: '#/components/parameters/id'
    post:
      summary: Generate account export
      tags:
        - Accounts
      operationId: generate-account-export
      description: Generate a particular account export.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountExportGenerateRequest'
            examples:
              Example:
                value:
                  exportExtensionType: PDF
        description: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountExportGenerateResponse'
              examples:
                Example:
                  value:
                    code: OK
                    message: Success
                    requestId: 5b79399a-6852-4234-bb0e-ad472648282d
                    data:
                      id: export-4d686c7b62f69fa0d4f817bbf36498de
                      createdAt: '2021-04-14T09:30:24Z'
                      accountId: a-17bbf36498de4d68a0d4f86c7b62f69f
                      exportExtensionType: PDF
                      md5: f8498de49d68a0d4bbf36f6c7b62f617
                      downloadUrl: >-
                        https://file.smileapi.io/tenants/xx/users/xx-2c4f00ad9b014466868b57b554e9391b/accounts/a-35aa43673f024b26bd699c713e885ddb/exports/export-4d686c7b62f69fa0d4f817bbf36498de.pdf
        '400':
          $ref: '#/components/responses/Standard-Errors'
        '401':
          $ref: '#/components/responses/Standard-Errors'
        '403':
          $ref: '#/components/responses/Standard-Errors'
        '404':
          $ref: '#/components/responses/Standard-Errors'
        '415':
          $ref: '#/components/responses/Standard-Errors'
        '429':
          $ref: '#/components/responses/Standard-Errors'
        '500':
          $ref: '#/components/responses/Standard-Errors'
        '501':
          $ref: '#/components/responses/Standard-Errors'
        '503':
          $ref: '#/components/responses/Standard-Errors'
        '504':
          $ref: '#/components/responses/Standard-Errors'
      parameters: []
  /accounts/{id}:
    parameters:
      - $ref: '#/components/parameters/id'
    get:
      summary: Get Account
      tags:
        - Accounts
      operationId: get-account
      description: Get a user's particular account information.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountGetResponse'
              examples:
                Example:
                  value:
                    code: OK
                    message: Success
                    requestId: 5b79399a-6852-4234-bb0e-ad472648282d
                    data:
                      id: a-17bbf36498de4d68a0d4f86c7b62f69f
                      createdAt: '2021-04-14T09:30:24Z'
                      providerId: grab
                      userId: tenant-5c1a2e8678e3494eba303ad1afa54ee8
                      connectionStatus: ERROR
                      connection:
                        status: ERROR
                        errorCode: ACCOUNT_DISABLED
                        errorMessage: Account is disabled
                        updatedAt: '2021-04-14T09:30:24Z'
                      monitorStatus: ACTIVE
                      monitor:
                        status: ACTIVE
                        updatedAt: '2021-04-14T09:30:24Z'
        '400':
          $ref: '#/components/responses/Standard-Errors'
        '401':
          $ref: '#/components/responses/Standard-Errors'
        '403':
          $ref: '#/components/responses/Standard-Errors'
        '404':
          $ref: '#/components/responses/Standard-Errors'
        '415':
          $ref: '#/components/responses/Standard-Errors'
        '429':
          $ref: '#/components/responses/Standard-Errors'
        '500':
          $ref: '#/components/responses/Standard-Errors'
        '501':
          $ref: '#/components/responses/Standard-Errors'
        '503':
          $ref: '#/components/responses/Standard-Errors'
        '504':
          $ref: '#/components/responses/Standard-Errors'
      parameters: []
    delete:
      summary: Revoke Account
      tags:
        - Accounts
      operationId: delete-account
      description: >-
        Delete a user's particular account information including the related
        data.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
              examples:
                Example:
                  value:
                    code: OK
                    message: Success
                    requestId: 5b79399a-6852-4234-bb0e-ad472648282d
        '400':
          $ref: '#/components/responses/Standard-Errors'
        '401':
          $ref: '#/components/responses/Standard-Errors'
        '403':
          $ref: '#/components/responses/Standard-Errors'
        '404':
          $ref: '#/components/responses/Standard-Errors'
        '415':
          $ref: '#/components/responses/Standard-Errors'
        '429':
          $ref: '#/components/responses/Standard-Errors'
        '500':
          $ref: '#/components/responses/Standard-Errors'
        '501':
          $ref: '#/components/responses/Standard-Errors'
        '503':
          $ref: '#/components/responses/Standard-Errors'
        '504':
          $ref: '#/components/responses/Standard-Errors'
      parameters: []
  /accounts/{accountId}/disableMonitor:
    parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
        description: the particular account ID.
    post:
      summary: Disable Monitor
      x-internal: true
      tags:
        - Accounts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
        '400':
          $ref: '#/components/responses/Standard-Errors'
        '401':
          $ref: '#/components/responses/Standard-Errors'
        '403':
          $ref: '#/components/responses/Standard-Errors'
        '404':
          $ref: '#/components/responses/Standard-Errors'
        '415':
          $ref: '#/components/responses/Standard-Errors'
        '429':
          $ref: '#/components/responses/Standard-Errors'
        '500':
          $ref: '#/components/responses/Standard-Errors'
        '501':
          $ref: '#/components/responses/Standard-Errors'
        '503':
          $ref: '#/components/responses/Standard-Errors'
        '504':
          $ref: '#/components/responses/Standard-Errors'
      operationId: disable-account-monitor
      description: disable monitor account data.
  /identities:
    get:
      summary: List Identities
      tags:
        - Identities
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityListResponse'
              examples:
                Example:
                  value:
                    code: OK
                    message: Success
                    requestId: 5b79399a-6852-4234-bb0e-ad472648282d
                    data:
                      nextCursor: '1259723474'
                      items:
                        - id: i-17bbf36498de4d68a0d4f86c7b62f69f
                          fullName: George Cimafranca Palomero, Jr
                          firstName: George
                          middleName: Cimafranca
                          lastName: Palomero
                          suffix: Jr
                          gender: Male
                          dob: '1970-08-24'
                          maritalStatus: Married
                          countryResidence: PH
                          citizenship: Citizen
                          photoUrl: >-
                            https://cdn.smileapi.io/image/avatar/v20211115191600/george.jpg
                          referenceId: george
                          profileUrl: https://upwork.com/profiles/george.jpg
                          emails:
                            - address: gpalomero1234@yahoo.com
                              type: Primary
                          phones:
                            - number: '+639175551234'
                              type: Mobile
                          socialProfiles:
                            - socialUrl: https://www.facebook.com/gpalomero
                              type: Facebook
                          addresses:
                            - fullAddress: >-
                                12 Maybunga St, Barangay Paraiso, Pasig City,
                                NCR, 1600, PH
                              line1: 12 Maybunga St
                              line2: Barangay Paraiso
                              city: Pasig City
                              region: NCR
                              zip: '1600'
                              country: PH
                              latitude: '14.573454'
                              longitude: '121.085042'
                              type: Primary
                          metadata:
                            createdAt: '2021-04-14T09:30:24Z'
                            sourceId: a-17bbf36498de4d68a0d4f86c7b62f69f
                            sourceType: ACCOUNT
                            userId: tenant-5c1a2e8678e3494eba303ad1afa54ee8
                            providerId: upwork
                        - id: i-24bbf36498ac4d26a0d4f86c7b62f83z
                          fullName: Ryan Joseph Peterson Chua Ng
                          firstName: Ryan Joseph Peterson
                          middleName: Chua
                          lastName: Ng
                          suffix: null
                          gender: Male
                          dob: '1995-06-24'
                          maritalStatus: Single
                          countryResidence: null
                          citizenship: Citizen
                          photoUrl: >-
                            https://cdn.smileapi.io/image/avatar/v20211115191600/ryan.jpg
                          referenceId: ~02c0bf6ae6a581ee2b
                          profileUrl: >-
                            https://www.upwork.com/freelancers/~02c0bf6ae6a581ee2b
                          emails:
                            - address: ryan1234@gmail.com
                              type: Primary
                          phones:
                            - number: '+639559994321'
                              type: Mobile
                            - number: '+63289053000'
                              type: Fixed
                          socialProfiles:
                            - socialUrl: https://www.facebook.com/ryanpetersonng
                              type: Facebook
                            - socialUrl: https://www.twitter.com/xklxyz
                              type: Twitter
                          addresses:
                            - fullAddress: 24 Eagle St, Binondo, Manila, NCR, 1008, PH
                              line1: 24 Eagle St
                              line2: Binondo
                              city: Manila
                              region: NCR
                              zip: '1008'
                              country: PH
                              latitude: '14.600454'
                              longitude: '120.969042'
                              type: Primary
                          metadata:
                            createdAt: '2021-04-14T09:30:24Z'
                            sourceId: a-17bbf36498de4d68a0d4f86c7b62f69f
                            sourceType: ACCOUNT
                            userId: tenant-5c1a2e8678e3494eba303ad1afa54ee8
                            providerId: upwork
                        - id: i-48ace87698bd6e67a0d4f86c7b62h76c
                          fullName: Christina Tan
                          firstName: Christina
                          middleName: dela Cruz
                          lastName: Tan
                          suffix: null
                          gender: Female
                          dob: '1997-02-12'
                          maritalStatus: Single
                          countryResidence: null
                          citizenship: Citizen
                          photoUrl: >-
                            https://cdn.smileapi.io/image/avatar/v20211115191600/christina.jpg
                          referenceId: null
                          profileUrl: null
                          emails:
                            - address: christina4321@yahoo.com
                              type: Primary
                          phones:
                            - number: '+639559996789'
                              type: Mobile
                            - number: '+639226789888'
                              type: Mobile
                          socialProfiles: []
                          addresses:
                            - fullAddress: null
                              line1: null
                              line2: null
                              city: null
                              region: null
                              zip: null
                              country: PH
                              latitude: null
                              longitude: null
                              type: Primary
                          metadata:
                            createdAt: '2021-04-14T09:30:24Z'
                            sourceId: a-17bbf36498de4d68a0d4f86c7b62f69f
                            sourceType: ACCOUNT
                            userId: tenant-5c1a2e8678e3494eba303ad1afa54ee8
                            providerId: upwork
        '400':
          $ref: '#/components/responses/Standard-Errors'
        '401':
          $ref: '#/components/responses/Standard-Errors'
        '403':
          $ref: '#/components/responses/Standard-Errors'
        '404':
          $ref: '#/components/responses/Standard-Errors'
        '415':
          $ref: '#/components/responses/Standard-Errors'
        '429':
          $ref: '#/components/responses/Standard-Errors'
        '500':
          $ref: '#/components/responses/Standard-Errors'
        '501':
          $ref: '#/components/responses/Standard-Errors'
        '503':
          $ref: '#/components/responses/Standard-Errors'
        '504':
          $ref: '#/components/responses/Standard-Errors'
      operationId: list-identities
      description: Get a user's identity profiles from employment data sources.
      parameters:
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/userId'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/sourceId'
    parameters: []
  /identities/{id}:
    get:
      summary: Get Identity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityGetResponse'
              examples:
                Example:
                  value:
                    code: OK
                    message: Success
                    requestId: 5b79399a-6852-4234-bb0e-ad472648282d
                    data:
                      id: i-17bbf36498de4d68a0d4f86c7b62f69f
                      fullName: George Cimafranca Palomero, Jr
                      firstName: George
                      middleName: Cimafranca
                      lastName: Palomero
                      suffix: Jr
                      gender: Male
                      dob: '1970-08-24'
                      maritalStatus: Married
                      countryResidence: PH
                      citizenship: Citizen
                      photoUrl: >-
                        https://cdn.smileapi.io/image/avatar/v20211115191600/george.jpg
                      referenceId: george
                      profileUrl: https://upwork.com/profiles/george.jpg
                      emails:
                        - address: gpalomero1234@yahoo.com
                          type: Primary
                      phones:
                        - number: '+639175551234'
                          type: Mobile
                      socialProfiles:
                        - socialUrl: https://www.facebook.com/gpalomero
                          type: Facebook
                      addresses:
                        - fullAddress: >-
                            12 Maybunga St, Barangay Paraiso, Pasig City, NCR,
                            1600, PH
                          line1: 12 Maybunga St
                          line2: Barangay Paraiso
                          city: Pasig City
                          region: NCR
                          zip: '1600'
                          country: PH
                          latitude: '14.573454'
                          longitude: '121.085042'
                          type: Primary
                      metadata:
                        createdAt: '2021-04-14T09:30:24Z'
                        sourceId: a-17bbf36498de4d68a0d4f86c7b62f69f
                        sourceType: ACCOUNT
                        userId: tenant-5c1a2e8678e3494eba303ad1afa54ee8
                        providerId: upwork
        '400':
          $ref: '#/components/responses/Standard-Errors'
        '401':
          $ref: '#/components/responses/Standard-Errors'
        '403':
          $ref: '#/components/responses/Standard-Errors'
        '404':
          $ref: '#/components/responses/Standard-Errors'
        '415':
          $ref: '#/components/responses/Standard-Errors'
        '429':
          $ref: '#/components/responses/Standard-Errors'
        '500':
          $ref: '#/components/responses/Standard-Errors'
        '501':
          $ref: '#/components/responses/Standard-Errors'
        '503':
          $ref: '#/components/responses/Standard-Errors'
        '504':
          $ref: '#/components/responses/Standard-Errors'
      operationId: get-identity
      description: Get the user's identity profile by ID.
      tags:
        - Identities
      parameters: []
    parameters:
      - $ref: '#/components/parameters/id'
  /transactions:
    get:
      summary: List Transactions
      tags:
        - Transactions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionListResponse'
              examples:
                Example:
                  value:
                    code: OK
                    message: Success
                    requestId: 5b79399a-6852-4234-bb0e-ad472648282d
                    data:
                      nextCursor: '1259723474'
                      items:
                        - id: t-17bbf36498de4d68a0d4f86c7b62f69f
                          date: '2021-04-21'
                          description: Payment for web design project Milestone 2
                          currency: PHP
                          amount: 10000
                          referenceId: string
                          metadata:
                            createdAt: '2021-04-14T09:30:24Z'
                            sourceId: a-17bbf36498de4d68a0d4f86c7b62f69f
                            sourceType: ACCOUNT
                            userId: tenant-5c1a2e8678e3494eba303ad1afa54ee8
                            providerId: upwork
                        - id: t-17bbf36498de4d68a0d4f86c7b62f69f
                          date: '2021-03-21'
                          description: Payment for web design project Milestone 1
                          currency: PHP
                          amount: 10000
                          referenceId: string
                          metadata:
                            createdAt: '2021-04-14T09:30:24Z'
                            sourceId: a-17bbf36498de4d68a0d4f86c7b62f69f
                            sourceType: ACCOUNT
                            userId: tenant-5c1a2e8678e3494eba303ad1afa54ee8
                            providerId: upwork
                        - id: t-17bbf36498de4d68a0d4f86c7b62f69f
                          date: '2021-02-12'
                          description: Payment for Facebook Ad design
                          currency: PHP
                          amount: 5000
                          referenceId: string
                          metadata:
                            createdAt: '2021-04-14T09:30:24Z'
                            sourceId: a-17bbf36498de4d68a0d4f86c7b62f69f
                            sourceType: ACCOUNT
                            userId: tenant-5c1a2e8678e3494eba303ad1afa54ee8
                            providerId: upwork
        '400':
          $ref: '#/components/responses/Standard-Errors'
        '401':
          $ref: '#/components/responses/Standard-Errors'
        '403':
          $ref: '#/components/responses/Standard-Errors'
        '404':
          $ref: '#/components/responses/Standard-Errors'
        '415':
          $ref: '#/components/responses/Standard-Errors'
        '429':
          $ref: '#/components/responses/Standard-Errors'
        '500':
          $ref: '#/components/responses/Standard-Errors'
        '501':
          $ref: '#/components/responses/Standard-Errors'
        '503':
          $ref: '#/components/responses/Standard-Errors'
        '504':
          $ref: '#/components/responses/Standard-Errors'
      operationId: list-transactions
      description: Get the user's transactions from employment data sources.
      parameters:
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/userId'
        - $ref: '#/components/parameters/accountId'
        - schema:
            type: string
            format: date
            example: '2021-04-01'
          in: query
          name: startDate
          description: Filter by transaction date, start of date range (YYYY-MM-DD)
        - schema:
            type: string
            format: date
            example: '2021-04-21'
          in: query
          name: endDate
          description: Filter by transaction date, end of date range (YYYY-MM-DD)
        - $ref: '#/components/parameters/sourceId'
  /transactions/{id}:
    parameters:
      - $ref: '#/components/parameters/id'
    get:
      summary: Get Transaction
      tags:
        - Transactions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionGetResponse'
              examples:
                Example:
                  value:
                    code: OK
                    message: Success
                    requestId: 5b79399a-6852-4234-bb0e-ad472648282d
                    data:
                      id: t-17bbf36498de4d68a0d4f86c7b62f69f
                      date: '2021-04-21'
                      description: Payment for web design project
                      currency: PHP
                      amount: 10000
                      referenceId: string
                      metadata:
                        createdAt: '2021-04-21T09:30:24Z'
                        sourceId: a-17bbf36498de4d68a0d4f86c7b62f69f
                        sourceType: ACCOUNT
                        userId: tenant-5c1a2e8678e3494eba303ad1afa54ee8
                        providerId: upwork
        '400':
          $ref: '#/components/responses/Standard-Errors'
        '401':
          $ref: '#/components/responses/Standard-Errors'
        '403':
          $ref: '#/components/responses/Standard-Errors'
        '404':
          $ref: '#/components/responses/Standard-Errors'
        '415':
          $ref: '#/components/responses/Standard-Errors'
        '429':
          $ref: '#/components/responses/Standard-Errors'
        '500':
          $ref: '#/components/responses/Standard-Errors'
        '501':
          $ref: '#/components/responses/Standard-Errors'
        '503':
          $ref: '#/components/responses/Standard-Errors'
        '504':
          $ref: '#/components/responses/Standard-Errors'
      operationId: get-transaction
      description: Get a user's transaction by ID.
  /tasks:
    get:
      summary: List Tasks
      tags:
        - Tasks
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskListResponse'
              examples:
                Example:
                  value:
                    code: OK
                    message: Success
                    requestId: 5b79399a-6852-4234-bb0e-ad472648282d
                    data:
                      nextCursor: '1259723474'
                      items:
                        - id: task-a2e3ad1afa54ee818678e3494eb5ca30
                          type: LINK_ACCOUNT
                          startedAt: '2023-04-14T09:31:24Z'
                          finishedAt: '2023-04-14T09:33:21Z'
                          status: Finished
                          datapoints:
                            - IDENTITIES
                            - DOCUMENTS
                            - EINCOMES
                            - INCOMES
                          metadata:
                            createdAt: '2021-04-14T09:30:24Z'
                            sourceId: a-17bbf36498de4d68a0d4f86c7b62f69f
                            sourceType: ACCOUNT
                            userId: tenant-5c1a2e8678e3494eba303ad1afa54ee8
                            providerId: upwork
                        - id: task-a2e3ad18678e3494eb5ca301afa54ee8
                          type: LINK_ACCOUNT
                          startedAt: '2023-04-14T09:31:24Z'
                          finishedAt: null
                          status: Started
                          datapoints: []
                          metadata:
                            createdAt: '2021-04-14T09:30:24Z'
                            sourceId: a-17bbf36498de4d68a0d4f86c7b62f69f
                            sourceType: ACCOUNT
                            userId: tenant-5c1a2e8678e3494eba303ad1afa54ee8
                            providerId: upwork
      operationId: list-tasks
      description: Get the user's tasks.
      parameters:
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/userId'
        - schema:
            type: string
            format: date
            example: '2021-04-01'
          in: query
          name: startDate
          description: Filter by task created date, start of date range (YYYY-MM-DD)
        - schema:
            type: string
            format: date
            example: '2021-04-21'
          in: query
          name: endDate
          description: Filter by task created date, end of date range (YYYY-MM-DD)
        - $ref: '#/components/parameters/sourceId'
  /tasks/{id}:
    parameters:
      - $ref: '#/components/parameters/id'
    get:
      summary: Get Task
      tags:
        - Tasks
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskGetResponse'
              examples:
                Example:
                  value:
                    code: OK
                    message: Success
                    requestId: 5b79399a-6852-4234-bb0e-ad472648282d
                    data:
                      id: task-a2e3ad1afa54ee818678e3494eb5ca30
                      type: LINK_ACCOUNT
                      startedAt: '2023-04-14T09:31:24Z'
                      finishedAt: '2023-04-14T09:33:21Z'
                      status: Finished
                      datapoints:
                        - IDENTITIES
                        - DOCUMENTS
                        - EINCOMES
                        - LINK
                        - INSIGHT
                      metadata:
                        createdAt: '2021-04-14T09:30:24Z'
                        sourceId: a-17bbf36498de4d68a0d4f86c7b62f69f
                        sourceType: ACCOUNT
                        userId: tenant-5c1a2e8678e3494eba303ad1afa54ee8
                        providerId: upwork
      operationId: get-task
      description: Get a user's task by ID.
  /uploads:
    get:
      summary: List Uploads
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadListResponse'
              examples:
                Example:
                  value:
                    code: OK
                    message: Success
                    requestId: 5b79399a-6852-4234-bb0e-ad472648282d
                    data:
                      nextCursor: '1259723474'
                      items:
                        - id: u-17bbf36498de4d68a0d4f86c7b62f69f
                          createdAt: '2021-04-14T09:30:24Z'
                          providerId: user-provided
                          userId: tenant-5c1a2e8678e3494eba303ad1afa54ee8
                          type: SOCIAL_SECURITY
                          state:
                            status: STARTED
                            errorCode: null
                            errorMessage: null
                            updatedAt: '2021-04-14T09:30:24Z'
                          rawFiles:
                            - id: f-17bbf36498de4d68a0d4f86c7b62f69f
                              createdAt: '2021-04-14T09:30:24Z'
                              name: Screen Shot 2021-04-14 at 5.30.24 PM
                              subType: PERSONAL_INFORMATION
                              size: 3048
                              format: PNG
                              url: >-
                                https://file.smileapi.io/tenants/smileapi/users/smileapi-17bbf36498de4d68a0d4f86c7b62f69f/files/file-17bbf36498de4d68a0d4f86c7b62f69f.jpeg
        '400':
          $ref: '#/components/responses/Standard-Errors'
        '401':
          $ref: '#/components/responses/Standard-Errors'
        '403':
          $ref: '#/components/responses/Standard-Errors'
        '404':
          $ref: '#/components/responses/Standard-Errors'
        '415':
          $ref: '#/components/responses/Standard-Errors'
        '429':
          $ref: '#/components/responses/Standard-Errors'
        '500':
          $ref: '#/components/responses/Standard-Errors'
        '501':
          $ref: '#/components/responses/Standard-Errors'
        '503':
          $ref: '#/components/responses/Standard-Errors'
        '504':
          $ref: '#/components/responses/Standard-Errors'
      operationId: list-uploads
      description: Get the user's uploads (deprecated).
      parameters:
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/userId'
        - schema:
            type: string
            format: date
            example: '2021-04-01'
          in: query
          name: startDate
          description: Filter by upload date, start of date range (YYYY-MM-DD)
        - schema:
            type: string
            format: date
            example: '2021-04-21'
          in: query
          name: endDate
          description: Filter by upload date, end of date range (YYYY-MM-DD)
      tags:
        - Uploads
      deprecated: true
      x-internal: false
  /uploads/{id}:
    parameters:
      - $ref: '#/components/parameters/id'
    get:
      summary: Get Upload
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadGetResponse'
              examples:
                Example:
                  value:
                    code: OK
                    message: Success
                    requestId: 5b79399a-6852-4234-bb0e-ad472648282d
                    data:
                      id: u-17bbf36498de4d68a0d4f86c7b62f69f
                      createdAt: '2021-04-14T09:30:24Z'
                      providerId: user-provided
                      userId: tenant-5c1a2e8678e3494eba303ad1afa54ee8
                      type: SOCIAL_SECURITY
                      state:
                        status: STARTED
                        errorCode: null
                        errorMessage: null
                        updatedAt: '2021-04-14T09:30:24Z'
                      rawFiles:
                        - id: f-17bbf36498de4d68a0d4f86c7b62f69f
                          createdAt: '2021-04-14T09:30:24Z'
                          name: Screen Shot 2021-04-14 at 5.30.24 PM
                          subType: PERSONAL_INFORMATION
                          size: 3048
                          format: PNG
                          url: >-
                            https://file.smileapi.io/tenants/smileapi/users/smileapi-17bbf36498de4d68a0d4f86c7b62f69f/files/file-17bbf36498de4d68a0d4f86c7b62f69f.jpeg
        '400':
          $ref: '#/components/responses/Standard-Errors'
        '401':
          $ref: '#/components/responses/Standard-Errors'
        '403':
          $ref: '#/components/responses/Standard-Errors'
        '404':
          $ref: '#/components/responses/Standard-Errors'
        '415':
          $ref: '#/components/responses/Standard-Errors'
        '429':
          $ref: '#/components/responses/Standard-Errors'
        '500':
          $ref: '#/components/responses/Standard-Errors'
        '501':
          $ref: '#/components/responses/Standard-Errors'
        '503':
          $ref: '#/components/responses/Standard-Errors'
        '504':
          $ref: '#/components/responses/Standard-Errors'
      operationId: get-upload
      description: Get a user's upload by ID (deprecated).
      tags:
        - Uploads
      deprecated: true
      x-internal: false
  /archives:
    get:
      summary: List Archives
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchiveListResponse'
              examples:
                Example:
                  value:
                    code: OK
                    message: Success
                    requestId: 5b79399a-6852-4234-bb0e-ad472648282d
                    data:
                      nextCursor: '1259723474'
                      items:
                        - id: u-17bbf36498de4d68a0d4f86c7b62f69f
                          createdAt: '2021-04-14T09:30:24Z'
                          providerId: user-provided
                          userId: tenant-5c1a2e8678e3494eba303ad1afa54ee8
                          type: SOCIAL_SECURITY
                          state:
                            status: STARTED
                            errorCode: null
                            errorMessage: null
                            updatedAt: '2021-04-14T09:30:24Z'
                          rawFiles:
                            - id: f-17bbf36498de4d68a0d4f86c7b62f69f
                              createdAt: '2021-04-14T09:30:24Z'
                              name: Screen Shot 2021-04-14 at 5.30.24 PM
                              subType: PERSONAL_INFORMATION
                              size: 3048
                              format: PNG
                              url: >-
                                https://file.smileapi.io/tenants/smileapi/users/smileapi-17bbf36498de4d68a0d4f86c7b62f69f/files/file-17bbf36498de4d68a0d4f86c7b62f69f.jpeg
        '400':
          $ref: '#/components/responses/Standard-Errors'
        '401':
          $ref: '#/components/responses/Standard-Errors'
        '403':
          $ref: '#/components/responses/Standard-Errors'
        '404':
          $ref: '#/components/responses/Standard-Errors'
        '415':
          $ref: '#/components/responses/Standard-Errors'
        '429':
          $ref: '#/components/responses/Standard-Errors'
        '500':
          $ref: '#/components/responses/Standard-Errors'
        '501':
          $ref: '#/components/responses/Standard-Errors'
        '503':
          $ref: '#/components/responses/Standard-Errors'
        '504':
          $ref: '#/components/responses/Standard-Errors'
      operationId: list-archives
      description: Get the user's archives.
      parameters:
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/userId'
        - schema:
            type: string
            format: date
            example: '2021-04-01'
          in: query
          name: startDate
          description: Filter by archive date, start of date range (YYYY-MM-DD)
        - schema:
            type: string
            format: date
            example: '2021-04-21'
          in: query
          name: endDate
          description: Filter by archive date, end of date range (YYYY-MM-DD)
      tags:
        - Archives
      x-internal: true
  /archives/{id}:
    parameters:
      - $ref: '#/components/parameters/id'
    get:
      summary: Get Archive
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchiveGetResponse'
              examples:
                Example:
                  value:
                    code: OK
                    message: Success
                    requestId: 5b79399a-6852-4234-bb0e-ad472648282d
                    data:
                      id: u-17bbf36498de4d68a0d4f86c7b62f69f
                      createdAt: '2021-04-14T09:30:24Z'
                      providerId: user-provided
                      userId: tenant-5c1a2e8678e3494eba303ad1afa54ee8
                      type: SOCIAL_SECURITY
                      state:
                        status: STARTED
                        errorCode: null
                        errorMessage: null
                        updatedAt: '2021-04-14T09:30:24Z'
                      rawFiles:
                        - id: f-17bbf36498de4d68a0d4f86c7b62f69f
                          createdAt: '2021-04-14T09:30:24Z'
                          name: Screen Shot 2021-04-14 at 5.30.24 PM
                          subType: PERSONAL_INFORMATION
                          size: 3048
                          format: PNG
                          url: >-
                            https://file.smileapi.io/tenants/smileapi/users/smileapi-17bbf36498de4d68a0d4f86c7b62f69f/files/file-17bbf36498de4d68a0d4f86c7b62f69f.jpeg
        '400':
          $ref: '#/components/responses/Standard-Errors'
        '401':
          $ref: '#/components/responses/Standard-Errors'
        '403':
          $ref: '#/components/responses/Standard-Errors'
        '404':
          $ref: '#/components/responses/Standard-Errors'
        '415':
          $ref: '#/components/responses/Standard-Errors'
        '429':
          $ref: '#/components/responses/Standard-Errors'
        '500':
          $ref: '#/components/responses/Standard-Errors'
        '501':
          $ref: '#/components/responses/Standard-Errors'
        '503':
          $ref: '#/components/responses/Standard-Errors'
        '504':
          $ref: '#/components/responses/Standard-Errors'
      operationId: get-archive
      description: Get a user's archive by ID.
      tags:
        - Archives
      x-internal: true
  /archives/-/payslips/uploadRawFile:
    post:
      summary: Upload payslip file
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArchivePayslipRawFileUploadRequest'
        description: request parameters
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchiveResponse'
              examples:
                Example:
                  value:
                    code: OK
                    message: Success
                    requestId: 5b79399a-6852-4234-bb0e-ad472648282d
                    data:
                      id: u-17bbf36498de4d68a0d4f86c7b62f69f
                      createdAt: '2021-04-14T09:30:24Z'
                      providerId: user-provided
                      userId: tenant-5c1a2e8678e3494eba303ad1afa54ee8
                      type: PAYSLIP
                      state:
                        status: STARTED
                        errorCode: null
                        errorMessage: null
                        updatedAt: '2021-04-14T09:30:24Z'
                      rawFiles:
                        - id: f-17bbf36498de4d68a0d4f86c7b62f69f
                          createdAt: '2021-04-14T09:30:24Z'
                          name: Screen Shot 2021-04-14 at 5.30.24 PM
                          subType: PAYSLIP
                          size: 3048
                          format: PNG
                          url: >-
                            https://file.smileapi.io/tenants/smileapi/users/smileapi-17bbf36498de4d68a0d4f86c7b62f69f/files/file-17bbf36498de4d68a0d4f86c7b62f69f.jpeg
      operationId: upload-payslip-file
      description: Upload payslip file.
      tags:
        - Archives
      x-internal: true
  /archives/-/payslips/queryPrediction:
    get:
      summary: Get the payslip prediction data
      parameters:
        - schema:
            type: string
          in: query
          name: archiveId
          required: true
          description: Archive ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchivePayslipPredictionQueryResponse'
      operationId: get-archive-payslip-data
      description: Get Archive payslip data.
      tags:
        - Archives
      x-internal: true
  /archives/-/payslips/sendManualResult:
    post:
      summary: Send payslip manual check result
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArchivePayslipManualResultSendRequest'
        description: request parameters
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
              examples:
                Example:
                  value:
                    code: OK
                    message: Success
                    requestId: 5b79399a-6852-4234-bb0e-ad472648282d
      operationId: send-payslip-manual-result
      description: send payslip manual check result.
      tags:
        - Archives
      x-internal: true
  /ratings:
    get:
      summary: List Ratings
      tags:
        - Ratings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatingListResponse'
              examples:
                Example:
                  value:
                    code: OK
                    message: Success
                    requestId: 5b79399a-6852-4234-bb0e-ad472648282d
                    data:
                      nextCursor: '1259723474'
                      items:
                        - id: r-17bbf36498de4d68a0d4f86c7b62f69f
                          currentRating: 90
                          maxRating: 100
                          calculatedPercentage: 90
                          reviewsReceived: 12
                          likesReceived: 8
                          jobsCompleted: 12
                          metadata:
                            createdAt: '2021-04-14T09:30:24Z'
                            sourceId: a-17bbf36498de4d68a0d4f86c7b62f69f
                            sourceType: ACCOUNT
                            userId: tenant-5c1a2e8678e3494eba303ad1afa54ee8
                            providerId: upwork
        '400':
          $ref: '#/components/responses/Standard-Errors'
        '401':
          $ref: '#/components/responses/Standard-Errors'
        '403':
          $ref: '#/components/responses/Standard-Errors'
        '404':
          $ref: '#/components/responses/Standard-Errors'
        '415':
          $ref: '#/components/responses/Standard-Errors'
        '429':
          $ref: '#/components/responses/Standard-Errors'
        '500':
          $ref: '#/components/responses/Standard-Errors'
        '501':
          $ref: '#/components/responses/Standard-Errors'
        '503':
          $ref: '#/components/responses/Standard-Errors'
        '504':
          $ref: '#/components/responses/Standard-Errors'
      operationId: list-ratings
      description: Get the user's ratings from employment data sources.
      parameters:
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/userId'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/sourceId'
  /ratings/{id}:
    parameters:
      - $ref: '#/components/parameters/id'
    get:
      summary: Get Rating
      tags:
        - Ratings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatingGetResponse'
              examples:
                Example:
                  value:
                    code: OK
                    message: Success
                    requestId: 5b79399a-6852-4234-bb0e-ad472648282d
                    data:
                      id: r-17bbf36498de4d68a0d4f86c7b62f69f
                      currentRating: 90
                      maxRating: 100
                      calculatedPercentage: 90
                      reviewsReceived: 12
                      likesReceived: 8
                      jobsCompleted: 12
                      metadata:
                        createdAt: '2021-04-14T09:30:24Z'
                        sourceId: a-17bbf36498de4d68a0d4f86c7b62f69f
                        sourceType: ACCOUNT
                        userId: tenant-5c1a2e8678e3494eba303ad1afa54ee8
                        providerId: upwork
        '400':
          $ref: '#/components/responses/Standard-Errors'
        '401':
          $ref: '#/components/responses/Standard-Errors'
        '403':
          $ref: '#/components/responses/Standard-Errors'
        '404':
          $ref: '#/components/responses/Standard-Errors'
        '415':
          $ref: '#/components/responses/Standard-Errors'
        '429':
          $ref: '#/components/responses/Standard-Errors'
        '500':
          $ref: '#/components/responses/Standard-Errors'
        '501':
          $ref: '#/components/responses/Standard-Errors'
        '503':
          $ref: '#/components/responses/Standard-Errors'
        '504':
          $ref: '#/components/responses/Standard-Errors'
      operationId: get-rating
      description: Get a user's ratings by ID.
  /employments:
    get:
      summary: List Employments
      tags:
        - Employments
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmploymentListResponse'
              examples:
                Example:
                  value:
                    code: OK
                    message: Success
                    requestId: 5b79399a-6852-4234-bb0e-ad472648282d
                    data:
                      nextCursor: '1259723474'
                      items:
                        - id: e-17bbf36498de4d68a0d4f86c7b62f69f
                          name: Digital Marketing
                          description: >-
                            Gathering and reporting relevant data, maintaining
                            specific reports and dashboards, using platforms and
                            programs to address marketing requirements, and
                            updating specific marketing materials.
                          jobTitle: Digital Marketing Assistant
                          department: Marketing
                          employeeNumber: EMP-123456
                          employer: ABC Corporation
                          status: Permanent
                          startDate: '2016-02-24'
                          endDate: '2019-08-24'
                          metadata:
                            createdAt: '2021-04-14T09:30:24Z'
                            sourceId: a-17bbf36498de4d68a0d4f86c7b62f69f
                            sourceType: UPLOAD
                            userId: tenant-5c1a2e8678e3494eba303ad1afa54ee8
                            providerId: abccorp
                        - id: 17bbf36498de4d68a0d4f86c7b62f69f
                          name: Executive Assistant
                          description: >-
                            Contribute to the efficiency of the business by
                            providing personalized and timely support to
                            executive members particularly the CEO.
                            Responsibilities include managing calendars, making
                            travel arrangements and preparing expense reports.
                          jobTitle: EA to the CEO
                          department: Administation
                          employeeNumber: CDE-98765
                          employer: CDE Corporation
                          status: Permanent
                          startDate: '2015-06-14'
                          endDate: '2016-01-30'
                          metadata:
                            createdAt: '2021-04-14T09:30:24Z'
                            sourceId: a-17bbf36498de4d68a0d4f86c7b62f69f
                            sourceType: UPLOAD
                            userId: tenant-5c1a2e8678e3494eba303ad1afa54ee8
                            providerId: abccorp
        '400':
          $ref: '#/components/responses/Standard-Errors'
        '401':
          $ref: '#/components/responses/Standard-Errors'
        '403':
          $ref: '#/components/responses/Standard-Errors'
        '404':
          $ref: '#/components/responses/Standard-Errors'
        '415':
          $ref: '#/components/responses/Standard-Errors'
        '429':
          $ref: '#/components/responses/Standard-Errors'
        '500':
          $ref: '#/components/responses/Standard-Errors'
        '501':
          $ref: '#/components/responses/Standard-Errors'
        '503':
          $ref: '#/components/responses/Standard-Errors'
        '504':
          $ref: '#/components/responses/Standard-Errors'
      operationId: list-employments
      parameters:
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/userId'
        - $ref: '#/components/parameters/accountId'
        - schema:
            type: string
            format: date
          in: query
          description: Filter by employment date, start of date range (YYYY-MM-DD)
          name: startDate
        - schema:
            type: string
            format: date
          in: query
          name: endDate
          description: Filter by employment date, end of date range (YYYY-MM-DD)
        - $ref: '#/components/parameters/sourceId'
      description: Get the user's previous employments.
    parameters: []
  /employments/{id}:
    parameters:
      - $ref: '#/components/parameters/id'
    get:
      summary: Get Employment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmploymentGetResponse'
              examples:
                Example:
                  value:
                    code: OK
                    message: Success
                    requestId: 5b79399a-6852-4234-bb0e-ad472648282d
                    data:
                      id: e-17bbf36498de4d68a0d4f86c7b62f69f
                      name: Digital Marketing
                      description: >-
                        Gathering and reporting relevant data, maintaining
                        specific reports and dashboards, using platforms and
                        programs to address marketing requirements, and updating
                        specific marketing materials.
                      jobTitle: Digital Marketing Assistant
                      department: Marketing
                      employeeNumber: EMP-123456
                      employer: ABC Corporation
                      status: Permanent
                      startDate: '2016-02-24'
                      endDate: '2019-08-24'
                      metadata:
                        createdAt: '2021-04-14T09:30:24Z'
                        sourceId: a-17bbf36498de4d68a0d4f86c7b62f69f
                        sourceType: UPLOAD
                        userId: tenant-5c1a2e8678e3494eba303ad1afa54ee8
                        providerId: abccorp
        '400':
          $ref: '#/components/responses/Standard-Errors'
        '401':
          $ref: '#/components/responses/Standard-Errors'
        '403':
          $ref: '#/components/responses/Standard-Errors'
        '404':
          $ref: '#/components/responses/Standard-Errors'
        '415':
          $ref: '#/components/responses/Standard-Errors'
        '429':
          $ref: '#/components/responses/Standard-Errors'
        '500':
          $ref: '#/components/responses/Standard-Errors'
        '501':
          $ref: '#/components/responses/Standard-Errors'
        '503':
          $ref: '#/components/responses/Standard-Errors'
        '504':
          $ref: '#/components/responses/Standard-Errors'
      operationId: get-employment
      tags:
        - Employments
      description: Get a user's employment by ID.
  /documents:
    get:
      summary: List Documents
      tags:
        - Documents
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentListResponse'
              examples:
                Example:
                  value:
                    code: OK
                    message: Success
                    requestId: 5b79399a-6852-4234-bb0e-ad472648282d
                    data:
                      nextCursor: '1259723474'
                      items:
                        - id: d-17bbf36498de4d68a0d4f86c7b62f69f
                          name: >-
                            Facebook Social Media Marketing Professional
                            Certificate
                          docId: ABCD123456
                          issueDate: '2007-08-24'
                          expiryDate: '2010-08-24'
                          documentType: IDENTIFICATION
                          status: VALID
                          fileUrl: >-
                            https://images.credly.com/size/680x680/images/c4a900b7-8d1b-4e8f-a572-347985eeaa5c/Coursera_Badge__1_.png
                          metadata:
                            createdAt: '2021-04-14T09:30:24Z'
                            sourceId: a-17bbf36498de4d68a0d4f86c7b62f69f
                            sourceType: ACCOUNT
                            userId: tenant-5c1a2e8678e3494eba303ad1afa54ee8
                            providerId: grab
        '400':
          $ref: '#/components/responses/Standard-Errors'
        '401':
          $ref: '#/components/responses/Standard-Errors'
        '403':
          $ref: '#/components/responses/Standard-Errors'
        '404':
          $ref: '#/components/responses/Standard-Errors'
        '415':
          $ref: '#/components/responses/Standard-Errors'
        '429':
          $ref: '#/components/responses/Standard-Errors'
        '500':
          $ref: '#/components/responses/Standard-Errors'
        '501':
          $ref: '#/components/responses/Standard-Errors'
        '503':
          $ref: '#/components/responses/Standard-Errors'
        '504':
          $ref: '#/components/responses/Standard-Errors'
      operationId: list-documents
      description: Get the user's documents from employment data sources.
      parameters:
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/userId'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/sourceId'
  /documents/{id}:
    parameters:
      - $ref: '#/components/parameters/id'
    get:
      summary: Get Document
      tags:
        - Documents
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentGetResponse'
              examples:
                Example:
                  value:
                    code: OK
                    message: Success
                    requestId: 5b79399a-6852-4234-bb0e-ad472648282d
                    data:
                      id: d-17bbf36498de4d68a0d4f86c7b62f69f
                      name: Facebook Social Media Marketing Professional Certificate
                      docId: ABCD123456
                      issueDate: '2007-08-24'
                      expiryDate: '2010-08-24'
                      fileUrl: >-
                        https://images.credly.com/size/680x680/images/c4a900b7-8d1b-4e8f-a572-347985eeaa5c/Coursera_Badge__1_.png
                      metadata:
                        createdAt: '2021-04-14T09:30:24Z'
                        sourceId: a-17bbf36498de4d68a0d4f86c7b62f69f
                        sourceType: ACCOUNT
                        userId: tenant-5c1a2e8678e3494eba303ad1afa54ee8
                        providerId: grab
        '400':
          $ref: '#/components/responses/Standard-Errors'
        '401':
          $ref: '#/components/responses/Standard-Errors'
        '403':
          $ref: '#/components/responses/Standard-Errors'
        '404':
          $ref: '#/components/responses/Standard-Errors'
        '415':
          $ref: '#/components/responses/Standard-Errors'
        '429':
          $ref: '#/components/responses/Standard-Errors'
        '500':
          $ref: '#/components/responses/Standard-Errors'
        '501':
          $ref: '#/components/responses/Standard-Errors'
        '503':
          $ref: '#/components/responses/Standard-Errors'
        '504':
          $ref: '#/components/responses/Standard-Errors'
      operationId: get-document
      description: Get a user's document by ID.
  /incomes:
    get:
      summary: List Incomes
      tags:
        - Incomes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncomeListResponse'
              examples:
                Example:
                  value:
                    code: OK
                    message: Success
                    requestId: 5b79399a-6852-4234-bb0e-ad472648282d
                    data:
                      nextCursor: '1259723474'
                      items:
                        - id: inc-17bbf36498de4d68a0d4f86c7b62f69f
                          workItem: null
                          employer: ABC Corporation
                          startDate: '2021-06-16'
                          endDate: '2021-06-30'
                          paymentMethod: Bank
                          currency: PHP
                          frequency: Monthly
                          baseAmount: 8500
                          grossAmount: 10000
                          netAmount: 7820.25
                          metadata:
                            createdAt: '2021-06-30T09:30:24Z'
                            sourceId: a-17bbf36498de4d68a0d4f86c7b62f69f
                            sourceType: UPLOAD
                            userId: tenant-5c1a2e8678e3494eba303ad1afa54ee8
                            providerId: abccorp
                        - id: inc-18adf56798de4d68a9f3g34c7b62f32e
                          workItem: null
                          employer: ABC Corporation
                          startDate: '2021-06-01'
                          endDate: '2021-06-15'
                          paymentMethod: Bank
                          currency: PHP
                          frequency: Monthly
                          baseAmount: 8500
                          grossAmount: 10000
                          netAmount: 7820.25
                          metadata:
                            createdAt: '2021-06-14T09:30:24Z'
                            sourceId: a-17bbf36498de4d68a0d4f86c7b62f69f
                            sourceType: UPLOAD
                            userId: tenant-5c1a2e8678e3494eba303ad1afa54ee8
                            providerId: abccorp
        '400':
          $ref: '#/components/responses/Standard-Errors'
        '401':
          $ref: '#/components/responses/Standard-Errors'
        '403':
          $ref: '#/components/responses/Standard-Errors'
        '404':
          $ref: '#/components/responses/Standard-Errors'
        '415':
          $ref: '#/components/responses/Standard-Errors'
        '429':
          $ref: '#/components/responses/Standard-Errors'
        '500':
          $ref: '#/components/responses/Standard-Errors'
        '501':
          $ref: '#/components/responses/Standard-Errors'
        '503':
          $ref: '#/components/responses/Standard-Errors'
        '504':
          $ref: '#/components/responses/Standard-Errors'
      operationId: list-incomes
      description: Get the user's incomes from employment data sources.
      parameters:
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/userId'
        - $ref: '#/components/parameters/accountId'
        - schema:
            type: string
            format: date
          in: query
          name: startDate
          description: Filter by income date, start of date range (YYYY-MM-DD)
        - schema:
            type: string
            format: date
          in: query
          name: endDate
          description: Filter by income date, end of date range (YYYY-MM-DD)
        - $ref: '#/components/parameters/sourceId'
  /incomes/{id}:
    get:
      summary: Get Income
      tags:
        - Incomes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncomeGetResponse'
              examples:
                Example:
                  value:
                    code: OK
                    message: Success
                    requestId: 5b79399a-6852-4234-bb0e-ad472648282d
                    data:
                      id: inc-17bbf36498de4d68a0d4f86c7b62f69f
                      workItem: null
                      employer: ABC Corporation
                      startDate: '2021-06-01'
                      endDate: '2021-06-15'
                      paymentMethod: Cash
                      currency: PHP
                      frequency: Monthly
                      baseAmount: 8500
                      grossAmount: 10000
                      netAmount: 7820.25
                      metadata:
                        createdAt: '2021-06-14T09:30:24Z'
                        sourceId: a-17bbf36498de4d68a0d4f86c7b62f69f
                        sourceType: UPLOAD
                        userId: tenant-5c1a2e8678e3494eba303ad1afa54ee8
                        providerId: abccorp
        '400':
          $ref: '#/components/responses/Standard-Errors'
        '401':
          $ref: '#/components/responses/Standard-Errors'
        '403':
          $ref: '#/components/responses/Standard-Errors'
        '404':
          $ref: '#/components/responses/Standard-Errors'
        '415':
          $ref: '#/components/responses/Standard-Errors'
        '429':
          $ref: '#/components/responses/Standard-Errors'
        '500':
          $ref: '#/components/responses/Standard-Errors'
        '501':
          $ref: '#/components/responses/Standard-Errors'
        '503':
          $ref: '#/components/responses/Standard-Errors'
        '504':
          $ref: '#/components/responses/Standard-Errors'
      operationId: get-income
      description: Get the user's income by ID.
      parameters: []
    parameters:
      - $ref: '#/components/parameters/id'
  /eincomes:
    parameters: []
    get:
      operationId: list-eincomes
      description: >-
        List users' estimated income from contribution- and transaction-based
        data sources. This data set contains derived income amounts from a
        variety of sources such as social security contributions, annual salary
        calculations, and computed earnings from transactions in various
        platforms.


        *Estimated Incomes is currently in alpha.*
      summary: List Estimated Incomes (early access)
      tags:
        - Estimated Incomes
      responses:
        '200':
          description: Estimated Incomes Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EincomeListResponse'
              examples:
                Example:
                  value:
                    code: OK
                    message: Success
                    requestId: 5b79399a-6852-4234-bb0e-ad472648282d
                    data:
                      nextCursor: '1259723474'
                      items:
                        - id: einc-a-123abc456def789abc123def456abc78
                          month: 2021-06
                          currency: PHP
                          amount: 1000
                          metadata:
                            createdAt: '2021-04-14T09:30:24Z'
                            sourceId: a-123abc456def789abc123def456abc78
                            sourceType: ACCOUNT
                            userId: tenantId-123abc456def789abc123def456abc78
                            providerId: abccorp
        '400':
          $ref: '#/components/responses/Standard-Errors'
        '401':
          $ref: '#/components/responses/Standard-Errors'
        '403':
          $ref: '#/components/responses/Standard-Errors'
        '404':
          $ref: '#/components/responses/Standard-Errors'
        '415':
          $ref: '#/components/responses/Standard-Errors'
        '429':
          $ref: '#/components/responses/Standard-Errors'
        '500':
          $ref: '#/components/responses/Standard-Errors'
        '501':
          $ref: '#/components/responses/Standard-Errors'
        '503':
          $ref: '#/components/responses/Standard-Errors'
        '504':
          $ref: '#/components/responses/Standard-Errors'
      parameters:
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/userId'
        - $ref: '#/components/parameters/sourceId'
        - schema:
            type: string
          in: query
          name: startMonth
          description: Filter by eincome date, start of date range (YYYY-MM)
        - schema:
            type: string
          in: query
          name: endMonth
          description: Filter by eincome date, end of date range (YYYY-MM)
  /eincomes/{id}:
    parameters:
      - $ref: '#/components/parameters/id'
    get:
      summary: Get Estimated Income
      tags:
        - Estimated Incomes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EincomeGetResponse'
              examples:
                Example:
                  value:
                    code: OK
                    message: Success
                    requestId: 5b79399a-6852-4234-bb0e-ad472648282d
                    data:
                      id: einc-17bbf36498de4d68a0d4f86c7b62f69f
                      month: 2021-06
                      currency: PHP
                      baseAmount: 1000
                      metadata:
                        createdAt: '2021-04-14T09:30:24Z'
                        sourceId: a-123abc456def789abc123def456abc78
                        sourceType: ACCOUNT
                        userId: tenantId-123abc456def789abc123def456abc78
                        providerId: abccorp
        '400':
          $ref: '#/components/responses/Standard-Errors'
        '401':
          $ref: '#/components/responses/Standard-Errors'
        '403':
          $ref: '#/components/responses/Standard-Errors'
        '404':
          $ref: '#/components/responses/Standard-Errors'
        '415':
          $ref: '#/components/responses/Standard-Errors'
        '429':
          $ref: '#/components/responses/Standard-Errors'
        '500':
          $ref: '#/components/responses/Standard-Errors'
        '501':
          $ref: '#/components/responses/Standard-Errors'
        '503':
          $ref: '#/components/responses/Standard-Errors'
        '504':
          $ref: '#/components/responses/Standard-Errors'
      operationId: get-eincomes
      description: Get the user's estimated incomes by ID.
  /profiles/-/identities/verify:
    post:
      tags:
        - User Data Verification
      operationId: verify-profile-identity
      summary: Verify identity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileIdentityVerifyRequest'
        description: request parameters
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileIdentityVerifyResponse'
              examples:
                Example:
                  value:
                    code: OK
                    message: Success
                    requestId: 5b79399a-6852-4234-bb0e-ad472648282d
                    data:
                      hit: true
                      message: matched
                      result:
                        nameMatchScore: 99
                        mobileMatched: true
                        emailMatched: false
                        genderMatched: true
                        maritalStatusMatched: true
                        dobMatched: true
  /profiles/-/identities/query:
    post:
      tags:
        - Profile Data
      operationId: query-profile-identity
      summary: Query Identity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileIdentityQueryRequest'
        description: request parameters
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileIdentityQueryResponse'
              examples:
                Example:
                  value:
                    code: OK
                    message: Success
                    requestId: 5b79399a-6852-4234-bb0e-ad472648282d
                    data:
                      hit: true
                      message: matched
                      result:
                        nameMatchScore: 99
                        firstName: First Name
                        middleName: Middle Name
                        lastName: Last Name
                        suffix: Jr.
                        mobile: '+639561388888'
                        email: george@smilerandom.com
                        gender: Male
                        maritalStatus: Married
                        dob: '2000-01-21'
                        homeTelephone: '09474004836'
                        socialSecurityCoverageType: EMPLOYEE
                        socialSecurityCoverageDate: '2020-12-21'
                        totalEmploymentReportCount: 10
                        firstEmploymentReportDate: '2021-01-01'
                        latestEmploymentReportDate: '2021-10-01'
                        address:
                          line1: 12 Maybunga St
                          line2: Barangay Paraiso
                          city: Pasig City
                          region: NCR
                          zip: '1600'
                          country: PH
                Example2:
                  value:
                    code: OK
                    message: Success
                    requestId: 5b79399a-6852-4234-bb0e-ad472648282d
                    data:
                      hit: true
                      message: not match
                      result:
                        nameMatchScore: 20
                        firstName: null
                        middleName: null
                        lastName: null
                        suffix: null
                        mobile: null
                        email: null
                        gender: null
                        maritalStatus: null
                        dob: null
                        homeTelephone: null
                        socialSecurityCoverageType: null
                        socialSecurityCoverageDate: null
                        totalEmploymentReportCount: null
                        firstEmploymentReportDate: null
                        latestEmploymentReportDate: null
                        address: null
                Example3:
                  value:
                    code: OK
                    message: Success
                    requestId: 5b79399a-6852-4234-bb0e-ad472648282d
                    data:
                      hit: false
                      message: invaild identification number
                      result: null
  /contributions:
    get:
      summary: List Contributions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContributionListResponse'
              examples:
                Example:
                  value:
                    code: OK
                    message: Success
                    requestId: 5b79399a-6852-4234-bb0e-ad472648282d
                    data:
                      nextCursor: '1259723474'
                      items:
                        - id: 17bbf36498de4d68a0d4f86c7b62f69f
                          date: '2021-04-30'
                          currency: PHP
                          amount: 1375
                          referenceId: PA9634415
                          metadata:
                            createdAt: '2021-04-14T09:30:24Z'
                            sourceId: a-17bbf36498de4d68a0d4f86c7b62f69f
                            sourceType: ACCOUNT
                            userId: tenant-5c1a2e8678e3494eba303ad1afa54ee8
                            providerId: sss-ph
        '400':
          $ref: '#/components/responses/Standard-Errors'
        '401':
          $ref: '#/components/responses/Standard-Errors'
        '403':
          $ref: '#/components/responses/Standard-Errors'
        '404':
          $ref: '#/components/responses/Standard-Errors'
        '415':
          $ref: '#/components/responses/Standard-Errors'
        '429':
          $ref: '#/components/responses/Standard-Errors'
        '500':
          $ref: '#/components/responses/Standard-Errors'
        '501':
          $ref: '#/components/responses/Standard-Errors'
        '503':
          $ref: '#/components/responses/Standard-Errors'
        '504':
          $ref: '#/components/responses/Standard-Errors'
      operationId: list-contributions
      description: >-
        Get the user's social security contributions from employment data
        sources.
      parameters:
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/userId'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/sourceId'
        - schema:
            type: string
            format: date
          in: query
          name: startDate
          description: Filter by contribution date, start of date range (YYYY-MM-DD)
        - schema:
            type: string
            format: date
          in: query
          name: endDate
          description: Filter by contribution date, end of date range (YYYY-MM-DD)
      tags:
        - Contributions
  /contributions/{id}:
    parameters:
      - $ref: '#/components/parameters/id'
    get:
      summary: Get Contribution
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContributionGetResponse'
              examples:
                Example:
                  value:
                    code: OK
                    message: Success
                    requestId: 5b79399a-6852-4234-bb0e-ad472648282d
                    data:
                      id: 17bbf36498de4d68a0d4f86c7b62f69f
                      date: '2021-04-30'
                      currency: PHP
                      amount: 1375
                      referenceId: PA9634415
                      metadata:
                        createdAt: '2021-04-14T09:30:24Z'
                        sourceId: a-17bbf36498de4d68a0d4f86c7b62f69f
[...]
